workflows/Restaurant Telegram AI Assistant (Demo) (6).json
{
  "name": "Restaurant Telegram AI Assistant (Demo)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender-id",
              "name": "senderId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "message-text",
              "name": "messageText",
              "value": "={{$json.message.text}}",
              "type": "string"
            },
            {
              "id": "received-at",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "72b5d512-caa2-4498-b0ed-bfb5ad4e1f21",
              "name": "customerName",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d815be00-d2ea-46c3-908e-d3c4a5db2aae",
              "name": "username",
              "value": "={{ $json.message.from.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1ba98368-6dbf-4549-a4d0-fda5f97f2b33",
      "name": "Normalize Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=You are the AI assistant for Sunny Bites Restaurant.\n\nReply in the customer's language.\n\nUse Menu Lookup for menu and price questions.\n\nCollect item, quantity, name, phone, address and payment.\n\nShow an order summary.\n\nWhen the customer confirms, use the Log Order tool.\n\nAfter the order is saved successfully, send a confirmation message.\n\nIf the order cannot be saved, politely tell the customer there was a technical problem and ask them to try again.\n\nKeep replies short and friendly.\n\nBefore calling the Log Order tool, make sure you already know:\n\nCustomer Name\nPhone\nDelivery Address\nPayment Method\nOrdered Items\nQuantity\nTotal Amount\n\nIf any information is missing, ask the customer first.\n\nOnly call Log Order after all required information is collected."
        }
      },
      "id": "6784a6fa-992d-4aae-8510-3f8426e56ad4",
      "name": "Restaurant AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "aa8760e0-85c2-4536-ae7a-83b5931d3ef1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "uapCpdMXzVPvZPtA",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ],
      "id": "f452228e-eca6-48eb-8d94-1cb983f10f40",
      "name": "Telegram Trigger",
      "webhookId": "0a718aeb-34ae-4e8f-b669-111f6f41ec8a",
      "credentials": {
        "telegramApi": {
          "id": "JTpFrZ5SUflGo5zo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $item(0).$node[\"Normalize Message Data\"].json.senderId }}",
        "text": "={{$json.output}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        192
      ],
      "id": "14fcc1ce-c4f2-4387-a56f-bc12dec5c810",
      "name": "Send a text message",
      "webhookId": "bd0af219-56b4-4b8f-89c1-43cc67108ff3",
      "credentials": {
        "telegramApi": {
          "id": "JTpFrZ5SUflGo5zo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize Message Data').item.json.senderId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        800,
        560
      ],
      "id": "3bea5306-273d-4f5a-b058-d3748ef2a7d6",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool whenever a customer asks about menu items, food categories, prices, ingredients, availability or today's specials.",
        "documentId": {
          "__rl": true,
          "value": "1pRUzgYYJaFARGgryEbKVgLEWauRmg0HcPwcF0LAOs_o",
          "mode": "list",
          "cachedResultName": "Resturant Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRUzgYYJaFARGgryEbKVgLEWauRmg0HcPwcF0LAOs_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418602443,
          "mode": "list",
          "cachedResultName": "Menu",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pRUzgYYJaFARGgryEbKVgLEWauRmg0HcPwcF0LAOs_o/edit#gid=418602443"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        992,
        544
      ],
      "id": "1a4c7e37-f7c1-4eda-af02-1bcc8f65692d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bG6L8Z9ymPlw2lpI",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Save a confirmed order to Google Sheets.\nUse only after all required information is collected.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wHOLQuPX3_cmrytM3ccas1sxmgNb6zGlz5WnK_HvSow",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wHOLQuPX3_cmrytM3ccas1sxmgNb6zGlz5WnK_HvSow/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 468155940,
          "mode": "list",
          "cachedResultName": "Restaurants Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wHOLQuPX3_cmrytM3ccas1sxmgNb6zGlz5WnK_HvSow/edit#gid=468155940"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', `Generate unique ID like ORD202607100001`, 'string') }}",
            "Order Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Date', `Current date and time`, 'string') }}",
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', `Customer full name`, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Customer phone number`, 'string') }}",
            "Ordered Items": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ordered_Items', `Food items with quantity\n\nExample\n\nChicken Burger x2\nPizza x1`, 'string') }}",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', `Total quantity ordered.`, 'string') }}",
            "Total (BDT)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total__BDT_', `\n\nTotal bill amount in BDT`, 'string') }}",
            "Delivery Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Delivery_Address', `Customer delivery address`, 'string') }}",
            "Payment Method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Payment_Method', `Cash\nbKash\nNagad\nRocket\nCard`, 'string') }}",
            "Order Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Status', `Pending`, 'string') }}",
            "Remarks": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remarks', ``, 'string') }}",
            "Telegram  ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telegram__ID', `Telegram ID `, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order ID",
              "displayName": "Order ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram  ID",
              "displayName": "Telegram  ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ordered Items",
              "displayName": "Ordered Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total (BDT)",
              "displayName": "Total (BDT)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Address",
              "displayName": "Delivery Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Status",
              "displayName": "Order Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1264,
        480
      ],
      "id": "3a0a1d5f-7f0a-4a8d-b1cb-bc2e0cf26fbc",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bG6L8Z9ymPlw2lpI",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Normalize Message Data": {
      "main": [
        [
          {
            "node": "Restaurant AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant AI Assistant": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Restaurant AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Restaurant AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Restaurant AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Restaurant AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "823b5dcb-834d-4370-afec-dde86dcab04e",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "c49846937813028e6b85cbf63993a3149c57b1a02b1a216f3921c437b51220d2"
  },
  "nodeGroups": [],
  "id": "WgmeybNBDX4dLXAR",
  "tags": []
}